:root{
    --main_color_post : rgb(249,248,247);
    --main_text  : #222222;
    --main_highlight : #f34f3f;
}


/* Phần cộng đồng */
#boxMainCotentPosts{

}

#boxMainCotentPosts .box_main_left .box_form_post_news{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-radius:10px;
    background-color: var(--main_color_post)
}

#boxMainCotentPosts .box_main_left .box_form_post_news .box_avatar{
    width:50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius:50%;
}

#boxMainCotentPosts .box_main_left .box_form_post_news .box_avatar img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
}

#boxMainCotentPosts .box_main_left .box_form_post_news .box_btn_create_post{
    width: 100%;
}

#boxMainCotentPosts .box_main_left .box_form_post_news .box_btn_create_post .btnCreatePostNews{
    width: 100%;
    background-color: #fff;
    padding: 5px 25px;
    border-radius:36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#boxMainCotentPosts .box_main_left .box_form_post_news .box_btn_create_post .btnCreatePostNews p{
    margin: 0;
}

/* phần bài viết */
.box_main_left .Show_post_content_main {
    padding: 10px 20px;
    border-radius:10px;
    background-color: var(--main_color_post);
    margin: 14px 0;
}

.box_main_left .Show_post_content_main .header_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.box_main_left .Show_post_content_main .header_box .box_header_infor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box_main_left .Show_post_content_main .header_box .box_header_infor .box_img{
    width:50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius:50%;
}

.box_main_left .Show_post_content_main .header_box .box_header_infor .box_img img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
}

.box_main_left .Show_post_content_main .header_box .box_header_infor .box_name_time{
}

.box_main_left .Show_post_content_main .header_box .box_header_infor .box_name_time h4{
    margin: 0;
}

.box_main_left .Show_post_content_main .header_box .box_header_infor .box_name_time p{
    font-size: 14px;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_add_friend{
    padding: 5px 10px;
    border: none;
    border-radius:36px;
    background-color: var(--main_highlight);
    color: #fff;
    cursor: pointer;   
    transition: 0.5s;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_add_friend:hover{
    opacity: 0.9;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_add_friend_not_login{
    padding: 5px 10px;
    border: none;
    border-radius:36px;
    background-color: var(--main_highlight);
    color: #fff;
    cursor: pointer;   
    transition: 0.5s;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_add_friend_not_login:hover{
    opacity: 0.9;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_remove_friend{
    padding: 5px 10px;
    border: none;
    border-radius:36px;
    background-color: var(--main_highlight);
    color: #fff;
    cursor: pointer;   
    transition: 0.5s;
}

.box_main_left .Show_post_content_main .header_box .box_header_sub .btn_remove_friend:hover{
    opacity: 0.9;
}


.box_main_left .Show_post_content_main .body_box .box_text_main_conent p{
    font-size: 18px;
}

.box_main_left .Show_post_content_main .body_box .box_main_img{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    margin: 6px 0;
}

.box_main_left .Show_post_content_main .body_box .box_main_img img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
}

.box_main_left .Show_post_content_main .body_box .box_main_link_post{
    background-color: rgba(207, 90, 90, 0.1);
    padding: 10px 10px;
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.box_main_left .Show_post_content_main .body_box .box_main_link_post p{
    margin: 0;
    font-size: 14px;
}

.box_main_left .Show_post_content_main .body_box .box_main_link_post .name_link_post{
    margin: 0;
    font-size: 18px;
}

.box_main_left .Show_post_content_main .footer_box .box_operation{
    padding: 8px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}

.box_main_left .Show_post_content_main .footer_box .box_operation .box_item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    cursor: pointer;
    border-radius:20px;
    transition: 0.5s;
}

.box_main_left .Show_post_content_main .footer_box .box_operation .box_item:hover{
    background-color: rgba(243, 79, 63,0.5);
    color: #fff
}

.box_main_left .Show_post_content_main .footer_box .box_operation .box_item i{
    margin-right: 10px;
}

.box_main_left .Show_post_content_main .footer_box .box_input_comment{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 10px;
    border-radius: 36px;
    overflow: hidden;
}

.box_main_left .Show_post_content_main .footer_box .box_input_comment .inputComment{
    background: 0;
    border: 0;
    outline: none;
}


.box_main_left .Show_post_content_main .box_show_comment .single-comment-post .box_main_inf_user{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.box_main_left .Show_post_content_main .box_show_comment .single-comment-post .box_main_inf_user .box_avatar{
    /* width:50px;
    height: 50px; */
    margin-right: 10px;
    overflow: hidden;
    border-radius:50%;
}

.box_main_left .Show_post_content_main .box_show_comment .single-comment-post .box_main_inf_user .box_avatar img {
    width:70px;
    /* height: 50px; */
    object-fit:  cover;
}

.box_main_left .Show_post_content_main .box_show_comment .single-comment-post .box_main_inf_user .box_content{
    padding: 8px;
    border-radius:20px;
    background-color: rgba(0,0,0,0.1);
}

.box_main_left .Show_post_content_main .box_show_comment .single-comment-post .box_main_inf_user-children{
    margin-top:8px;
    margin-left: 50px;
}